In [ ]:
import numpy as np
import pandas as pd
import sqlalchemy
from urllib.parse import quote

In [ ]:
connection = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format('USER',quote('PASSWORD'),'IP','DB'))
connection.connect()

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `modelName`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'TOTAL'
FROM 
    `test_case_10` 
where
    #`Normalizer` !='Binarizer' and
    `selectionMethod` != 'f_classif'
GROUP BY 
    `Normalizer`, `modelName`
''',con=connection).pivot(index='modelName', columns='Normalizer', values='TOTAL')
df.head(13)

Normalizer,Binarizer,MaxAbsScaler,MinMaxScaler,Normalizer,StandardScaler,normal,uniform
modelName,,,,,,,
ab,4,4,4,4,4,4,4
bc_100,4,4,4,4,4,4,4
dt,4,4,4,4,4,4,4
et_100,4,4,4,4,4,4,4
et_500,4,4,4,4,4,4,4
gn,4,4,4,4,4,4,4
knn3,4,4,4,4,4,4,4
knn5,4,4,4,4,4,4,4
lr,4,4,4,4,4,4,4
rf_100,4,4,4,4,4,4,4
rf_500,4,4,4,4,4,4,4
svc_n,4,4,4,4,4,4,4
xgb,4,4,4,4,4,4,4

In [ ]:
df=pd.read_sql('''
SELECT 
    `selectionMethod`, count(*) AS 'TOTAL'
FROM 
    `test_case_25` 
where
    `modelName`="et_500"
GROUP BY 
    `selectionMethod`
''',con=connection)
df.head(13)

       selectionMethod  TOTAL
0            f_classif      8
1     sf_XGBClassifier      7
2      sf_RandomForest      7
3  mutual_info_classif      7
4     rfe_DecisionTree      7

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `modelName`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'TOTAL'
FROM 
    `test_case_25` 
where
    #`Normalizer` !='Binarizer' and
    `selectionMethod` != 'f_classif'
GROUP BY 
    `Normalizer`, `modelName`
''',con=connection).pivot(index='modelName', columns='Normalizer', values='TOTAL')
df.head(13)

Normalizer,Binarizer,MaxAbsScaler,MinMaxScaler,Normalizer,StandardScaler,normal,uniform
modelName,,,,,,,
ab,81.54,99.40,99.38,98.98,99.61,99.61,99.61
bc_100,81.64,99.59,99.59,99.33,99.59,99.59,99.60
dt,81.02,97.35,97.35,96.59,97.37,97.38,97.38
et_100,80.84,99.57,99.57,99.38,99.56,99.68,99.67
et_500,81.77,99.60,99.60,99.43,99.60,99.70,99.71
gn,80.31,88.08,88.03,94.08,88.10,97.63,95.36
knn3,77.31,93.06,93.01,97.24,94.64,97.98,98.36
knn5,78.19,94.23,94.14,97.67,95.55,98.42,98.77
lr,82.18,89.21,89.14,94.66,92.31,95.97,96.83
rf_100,82.40,99.64,99.64,99.38,99.66,99.65,99.65
rf_500,81.83,99.69,99.69,99.45,99.69,99.70,99.70
svc_n,78.14,93.63,93.63,97.61,98.07,99.50,99.66
xgb,81.73,99.74,99.73,99.54,99.73,99.74,99.74

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `selectionMethod`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'TOTAL'
FROM 
    `test_case_10` 
where
    `modelName`='rf_100'
GROUP BY 
    `Normalizer`, `selectionMethod`
''',con=connection).pivot(index='selectionMethod', columns='Normalizer', values='TOTAL')
df.head(13)

Normalizer,Binarizer,MaxAbsScaler,MinMaxScaler,Normalizer,StandardScaler,normal,uniform
selectionMethod,,,,,,,
f_classif,85.94,89.09,89.13,89.72,89.08,89.10,89.12
mutual_info_classif,68.18,99.64,99.64,99.63,99.63,99.63,99.63
rfe_DecisionTree,78.98,99.69,99.69,99.65,99.69,99.70,99.69
sf_RandomForest,68.18,99.63,99.63,99.62,99.64,99.64,99.63
sf_XGBClassifier,76.91,99.45,99.45,98.44,99.49,99.50,99.48

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `selectionMethod`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'TOTAL'
FROM 
    `test_case_15` 
where
    `modelName`='ab'
GROUP BY 
    `Normalizer`, `selectionMethod`
''',con=connection).pivot(index='selectionMethod', columns='Normalizer', values='TOTAL')
df.head(13)

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `selectionMethod`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'TOTAL'
FROM 
    `test_case_20` 
where
    `modelName`='ab'
GROUP BY 
    `Normalizer`, `selectionMethod`
''',con=connection).pivot(index='selectionMethod', columns='Normalizer', values='TOTAL')
df.head(13)

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `selectionMethod`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'TOTAL'
FROM 
    `test_case_25` 
where
    `modelName`='rf_100'
GROUP BY 
    `Normalizer`, `selectionMethod`
''',con=connection).pivot(index='selectionMethod', columns='Normalizer', values='TOTAL')
df.head(13)

Normalizer,Binarizer,MaxAbsScaler,MinMaxScaler,Normalizer,StandardScaler,normal,uniform
selectionMethod,,,,,,,
f_classif,90.67,99.62,99.61,99.58,99.62,99.61,99.62
mutual_info_classif,90.56,99.72,99.73,99.72,99.73,99.73,99.72
rfe_DecisionTree,88.33,99.74,99.75,99.72,99.75,99.74,99.74
sf_RandomForest,73.79,99.64,99.63,99.62,99.65,99.63,99.64
sf_XGBClassifier,76.91,99.45,99.44,98.48,99.51,99.49,99.50

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`,
    #ROUND(max(`test_accuracy`)*100,2) AS 'A_MAX',
    #ROUND(min(`test_accuracy`)*100,2) AS 'A_MIN',
    ROUND(AVG(`test_accuracy`)*100,2) AS 'A_MEAN',
    #ROUND(max(`test_precision`)*100,2) AS 'P_MAX',
    #ROUND(min(`test_precision`)*100,2) AS 'P_MIN',
    ROUND(AVG(`test_precision`)*100,2) AS 'P_MEAN',
    #ROUND(max(`test_recall`)*100,2) AS 'R_MAX',
    #ROUND(min(`test_recall`)*100,2) AS 'R_MIN',
    ROUND(AVG(`test_recall`)*100,2) AS 'R_MEAN',
    #ROUND(max(`test_f1`)*100,2) AS 'F_MAX',
    #ROUND(min(`test_f1`)*100,2) AS 'F_MIN',
    ROUND(AVG(`test_f1`)*100,2) AS 'F_MEAN',
    #ROUND(max(`test_roc_auc`)*100,2) AS 'C_MAX',
    #ROUND(min(`test_roc_auc`)*100,2) AS 'C_MIN',
    ROUND(AVG(`test_roc_auc`)*100,2) AS 'C_MEAN'
FROM 
    `test_case_10`
where
    `Normalizer` !='Binarizer' and
    `selectionMethod` != 'f_classif'
GROUP BY 
    `Normalizer`
''',con=connection)
df.head(10)

       Normalizer  A_MEAN  P_MEAN  R_MEAN  F_MEAN  C_MEAN
0    MinMaxScaler   92.46   93.25   87.64   89.45   96.36
1      Normalizer   95.00   96.81   90.94   93.41   97.80
2    MaxAbsScaler   92.55   93.62   87.25   89.34   96.43
3         uniform   97.25   97.05   96.31   96.68   98.82
4          normal   97.17   97.74   95.37   96.49   98.90
5  StandardScaler   94.19   94.92   90.46   91.82   97.41

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`,
    #ROUND(max(`test_accuracy`)*100,2) AS 'A_MAX',
    #ROUND(min(`test_accuracy`)*100,2) AS 'A_MIN',
    ROUND(AVG(`test_accuracy`)*100,2) AS 'A_MEAN',
    #ROUND(max(`test_precision`)*100,2) AS 'P_MAX',
    #ROUND(min(`test_precision`)*100,2) AS 'P_MIN',
    ROUND(AVG(`test_precision`)*100,2) AS 'P_MEAN',
    #ROUND(max(`test_recall`)*100,2) AS 'R_MAX',
    #ROUND(min(`test_recall`)*100,2) AS 'R_MIN',
    ROUND(AVG(`test_recall`)*100,2) AS 'R_MEAN',
    #ROUND(max(`test_f1`)*100,2) AS 'F_MAX',
    #ROUND(min(`test_f1`)*100,2) AS 'F_MIN',
    ROUND(AVG(`test_f1`)*100,2) AS 'F_MEAN',
    #ROUND(max(`test_roc_auc`)*100,2) AS 'C_MAX',
    #ROUND(min(`test_roc_auc`)*100,2) AS 'C_MIN',
    ROUND(AVG(`test_roc_auc`)*100,2) AS 'C_MEAN'
FROM 
    `test_case_15`
where
    `Normalizer` !='Binarizer' and
    `selectionMethod` != 'f_classif'
GROUP BY 
    `Normalizer`
''',con=connection)
df.head(10)

       Normalizer  A_MEAN  P_MEAN  R_MEAN  F_MEAN  C_MEAN
0    MinMaxScaler   92.26   92.60   88.75   89.57   96.36
1      Normalizer   95.00   96.72   91.01   93.44   97.68
2    MaxAbsScaler   92.52   92.91   88.92   89.85   96.45
3         uniform   97.17   96.95   96.24   96.59   98.81
4          normal   97.25   97.72   95.59   96.61   98.92
5  StandardScaler   94.19   93.98   92.28   92.66   97.47

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `selectionMethod`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'MEAN',count(*) as 'TOTAL'
    
FROM 
    `test_case_25` 
GROUP BY 
    `Normalizer`, `selectionMethod`
''',con=connection).pivot(index='selectionMethod', columns='Normalizer', values=['TOTAL','MEAN'])
df.head(13)

                        TOTAL                                       \
Normalizer          Binarizer MaxAbsScaler MinMaxScaler Normalizer
selectionMethod
f_classif                13.0         13.0         14.0       13.0
mutual_info_classif      13.0         13.0         13.0       13.0
rfe_DecisionTree         13.0         13.0         13.0       13.0
sf_RandomForest          13.0         13.0         13.0       13.0
sf_XGBClassifier         13.0         13.0         13.0       13.0

                                                       MEAN               \
Normalizer          StandardScaler normal uniform Binarizer MaxAbsScaler
selectionMethod
f_classif                     13.0   13.0    13.0     89.39        96.01
mutual_info_classif           13.0   13.0    13.0     89.18        96.02
rfe_DecisionTree              13.0   13.0    13.0     86.93        95.91
sf_RandomForest               13.0   13.0    13.0     70.35        96.94
sf_XGBClassifier              13.0   13.0    13.0     76.28        96.60


Normalizer          MinMaxScaler Normalizer StandardScaler normal uniform
selectionMethod
f_classif                  96.21      97.64          96.59  97.90   98.15
mutual_info_classif        96.02      98.48          97.08  98.72   98.72
rfe_DecisionTree           95.83      98.52          96.75  98.79   98.82
sf_RandomForest            96.94      98.06          97.63  99.01   98.86
sf_XGBClassifier           96.60      96.74          97.30  98.73   98.67

In [ ]:
df=pd.read_sql('''
SELECT 
    `Normalizer`, `modelName`, ROUND(AVG(`test_roc_auc`)*100,2) AS 'MEAN',count(*) as 'TOTAL'
    
FROM 
    `test_case_25` 
GROUP BY 
    `Normalizer`, `modelName`
''',con=connection).pivot(index='modelName', columns='Normalizer', values=['TOTAL','MEAN'])
df.head(13)

               TOTAL                                                      \
Normalizer Binarizer MaxAbsScaler MinMaxScaler Normalizer StandardScaler
modelName
ab               5.0          5.0          5.0        5.0            5.0
bc_100           5.0          5.0          5.0        5.0            5.0
dt               5.0          5.0          5.0        5.0            5.0
et_100           5.0          5.0          5.0        5.0            5.0
et_500           5.0          5.0          6.0        5.0            5.0
gn               5.0          5.0          5.0        5.0            5.0
knn3             5.0          5.0          5.0        5.0            5.0
knn5             5.0          5.0          5.0        5.0            5.0
lr               5.0          5.0          5.0        5.0            5.0
rf_100           5.0          5.0          5.0        5.0            5.0
rf_500           5.0          5.0          5.0        5.0            5.0
svc_n            5.0          5.0          5.0        5.0            5.0
xgb              5.0          5.0          5.0        5.0            5.0

                               MEAN                                       \
Normalizer normal uniform Binarizer MaxAbsScaler MinMaxScaler Normalizer
modelName
ab            5.0     5.0     83.30        99.41        99.40      99.04
bc_100        5.0     5.0     83.44        99.58        99.59      99.37
dt            5.0     5.0     82.87        97.22        97.22      96.57
et_100        5.0     5.0     82.76        99.43        99.42      99.40
et_500        5.0     5.0     83.50        99.46        99.37      99.45
gn            5.0     5.0     81.98        88.39        88.35      93.87
knn3          5.0     5.0     78.73        92.27        92.22      96.93
knn5          5.0     5.0     79.88        93.55        93.46      97.37
lr            5.0     5.0     83.82        89.94        89.89      94.48
rf_100        5.0     5.0     84.05        99.64        99.63      99.42
rf_500        5.0     5.0     83.59        99.68        99.68      99.48
svc_n         5.0     5.0     80.00        93.57        93.57      97.58
xgb           5.0     5.0     83.60        99.73        99.73      99.56


Normalizer StandardScaler normal uniform
modelName
ab                  99.59  99.59   99.59
bc_100              99.58  99.58   99.59
dt                  97.25  97.26   97.26
et_100              99.41  99.65   99.65
et_500              99.46  99.67   99.69
gn                  88.40  96.93   94.91
knn3                93.75  97.31   97.83
knn5                94.80  97.86   98.34
lr                  92.69  95.95   96.86
rf_100              99.65  99.64   99.64
rf_500              99.69  99.69   99.70
svc_n               97.93  99.30   99.62
xgb                 99.73  99.73   99.73