In [ ]:
pip install pymysql

In [ ]:
import json
import csv
import numpy as np
import pandas as pd
import sqlalchemy
from urllib.parse import quote

In [ ]:
pd.set_option('display.max_columns', None)
pd.set_option("display.max_rows", None)

In [ ]:
connection = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.format('USER',quote('PASS'),'IP','DB'))

In [ ]:
data = pd.read_sql("""
    SELECT `selectedFeatures` FROM `test_case_10` ORDER BY `test_case_10`.`test_accuracy` DESC limit 15;
""", con=connection)


featureList=list();
for index, row in data.iterrows():
    featureList=featureList+np.hstack(json.loads(row["selectedFeatures"])).tolist()


unique, counts = np.unique(np.hstack(featureList), return_counts=True)
sortValue=np.asarray((unique, counts)).T
SelectedFeatures=sortValue[np.flip(np.argsort(sortValue[:, 1]))]

dataframe=pd.DataFrame(SelectedFeatures, columns=['name','total']) 
dataframe.head(30)

In [ ]:
data = pd.read_sql("""
    SELECT `selectedFeatures` FROM `test_case_15` ORDER BY `test_case_15`.`test_accuracy` DESC limit 15;
""", con=connection)


featureList=list();
for index, row in data.iterrows():
    featureList=featureList+np.hstack(json.loads(row["selectedFeatures"])).tolist()


unique, counts = np.unique(np.hstack(featureList), return_counts=True)
sortValue=np.asarray((unique, counts)).T
SelectedFeatures=sortValue[np.flip(np.argsort(sortValue[:, 1]))]

print(SelectedFeatures[:,1].astype(int).sum())
SelectedFeatures

dataframe=pd.DataFrame(SelectedFeatures, columns=['name','total']) 
dataframe.head(30)

In [ ]:
data = pd.read_sql("""
    SELECT `selectedFeatures` FROM `test_case_20` ORDER BY `test_case_20`.`test_accuracy` DESC limit 15;
""", con=connection)

featureList=list();
for index, row in data.iterrows():
    featureList=featureList+np.hstack(json.loads(row["selectedFeatures"])).tolist()


unique, counts = np.unique(np.hstack(featureList), return_counts=True)
sortValue=np.asarray((unique, counts)).T
SelectedFeatures=sortValue[np.flip(np.argsort(sortValue[:, 1]))]

print(SelectedFeatures[:,1].astype(int).sum())
SelectedFeatures

dataframe=pd.DataFrame(SelectedFeatures, columns=['name','total']) 
dataframe.head(30)

In [ ]:
data = pd.read_sql('''
SELECT 
    `selectionMethod`, 
    count(*),
    ROUND(MAX(`test_accuracy`) * 100, 2) as "MAX_ACCURACY", 
    ROUND(MIN(`test_accuracy`) * 100, 2) as "MIN_ACCURACY", 
    ROUND(AVG(`test_accuracy`) * 100, 2) as "AVG_ACCURACY", 
    ROUND(AVG(`fit_time`), 2) as "AVG_FIT", 
    ROUND(AVG(`score_time`), 2) as "AVG_SCORE" 
FROM 
    `test_case_10` 
where
    `modelName` not in ('svc_n','knn5','knn3')
GROUP BY 
    `selectionMethod` 
ORDER BY 
    `test_case_10`.`selectionMethod` ASC;

''', con=connection)

data.head(10)

,selectionMethod,count(*),MAX_ACCURACY,MIN_ACCURACY,AVG_ACCURACY,AVG_FIT,AVG_SCORE
0,f_classif,70,86.46,75.43,81.94,123.15,7.52
1,mutual_info_classif,70,98.48,67.01,91.84,315.85,5.10
2,rfe_DecisionTree,70,98.64,69.76,92.23,535.74,4.87
3,sf_RandomForest,70,98.47,67.39,91.87,276.53,5.02
4,sf_XGBClassifier,70,98.21,66.84,91.24,123.26,4.41

In [ ]:
data = pd.read_sql('''
SELECT
	`modelName`,
	ROUND((`test_accuracy`) * 100, 2), 
    ROUND((`test_roc_auc`) * 100, 2),
    ROUND((`test_f1`) * 100, 2), 
    ROUND((`test_recall`) * 100, 2), 
    ROUND((`test_Precision`) * 100, 2)
FROM
    `sampling_cross_validation`
WHERE
    `samplingModel`="SMOTETomek"  
ORDER BY `sampling_cross_validation`.`modelName` ASC;
''', con=connection)

data.head(20)

,modelName,"ROUND((`test_accuracy`) * 100, 2)","ROUND((`test_roc_auc`) * 100, 2)","ROUND((`test_f1`) * 100, 2)","ROUND((`test_recall`) * 100, 2)","ROUND((`test_Precision`) * 100, 2)"
0,ab,99.70,99.99,99.70,99.65,99.75
1,bc_100,99.81,99.98,99.81,99.83,99.80
2,dt,99.71,99.71,99.71,99.72,99.71
3,et_100,99.87,100.00,99.87,99.86,99.89
4,et_500,99.88,100.00,99.88,99.89,99.88
5,gn,90.03,98.48,89.29,82.87,96.79
6,knn3,99.78,99.91,99.78,99.71,99.84
7,knn5,99.74,99.93,99.74,99.60,99.87
8,lr,92.94,95.81,92.83,91.18,94.55
9,rf_100,99.86,100.00,99.86,99.91,99.82
10,rf_500,99.84,100.00,99.84,99.89,99.79
11,svc_n,99.68,99.97,99.68,99.56,99.79
12,xgb,99.89,100.00,99.89,99.89,99.89

In [ ]:
data = pd.read_sql('''
    SELECT 
      `modelName`, 
      `outLierModel`, 
      `removedSample`, 
      ROUND((`test_accuracy`) * 100, 2), 
      ROUND((`test_roc_auc`) * 100, 2), 
      ROUND((`test_f1`) * 100, 2), 
      ROUND((`test_recall`) * 100, 2), 
      ROUND((`test_Precision`) * 100, 2) 
    FROM 
      `outlier_cross_validation` 
    where 
      `modelName` not in ('ab','bc_100','dt_100','dt','et_100','et_500','knn3','knn5','rf_100','rf_500','svc_n') and 
      `outLierModel`<>'iso_1' 
    ORDER BY 
      `outlier_cross_validation`.`modelName` ASC, 
      `outlier_cross_validation`.`outLierModel` ASC;
''', con=connection)


data.head(25)

,modelName,outLierModel,removedSample,"ROUND((`test_accuracy`) * 100, 2)","ROUND((`test_roc_auc`) * 100, 2)","ROUND((`test_f1`) * 100, 2)","ROUND((`test_recall`) * 100, 2)","ROUND((`test_Precision`) * 100, 2)"
0,gn,all,0,89.54,97.67,86.27,79.01,95.00
1,gn,ee_01,994,90.04,97.92,87.04,79.86,95.64
2,gn,ee_05,4970,90.80,98.27,87.70,80.21,96.73
3,gn,iso_01,994,89.58,97.68,86.19,78.88,94.99
4,gn,iso_05,4970,89.87,97.88,86.11,78.34,95.60
5,gn,lof,2679,89.81,97.72,86.22,78.96,94.95
6,gn,ncSVM_01,2982,90.93,97.86,88.04,82.36,94.55
7,gn,ncSVM_05,4974,91.34,98.14,88.66,82.69,95.56
8,lr,all,0,91.28,94.43,89.12,85.82,92.68
9,lr,ee_01,994,91.19,94.51,89.07,85.87,92.52
10,lr,ee_05,4970,92.41,95.38,90.43,88.03,92.97
11,lr,iso_01,994,93.06,95.85,91.38,89.00,93.88
12,lr,iso_05,4970,96.27,98.54,95.34,94.82,95.86
13,lr,lof,2679,91.65,94.42,89.27,85.94,92.86
14,lr,ncSVM_01,2982,91.53,94.65,89.15,85.96,92.58
15,lr,ncSVM_05,4974,93.68,96.52,92.13,90.45,93.88
16,xgb,all,0,98.64,99.74,98.36,98.09,98.63
17,xgb,ee_01,994,98.61,99.75,98.34,98.06,98.62
18,xgb,ee_05,4970,98.57,99.72,98.24,97.90,98.57
19,xgb,iso_01,994,98.62,99.74,98.32,98.03,98.61
20,xgb,iso_05,4970,98.62,99.72,98.29,97.99,98.59
21,xgb,lof,2679,98.65,99.73,98.33,97.97,98.68
22,xgb,ncSVM_01,2982,98.56,99.73,98.21,97.89,98.54
23,xgb,ncSVM_05,4974,98.58,99.71,98.25,97.93,98.58

In [ ]:
data = pd.read_sql('''
SELECT `DataSet`, ROUND((`Test_AUC`) * 100, 2) FROM `sampling_gene` WHERE `samplingModel` LIKE 'SMOTEENN' AND `modelName` LIKE 'et_500';
''', con=connection)
data.head(25)

  DataSet  ROUND((`Test_AUC`) * 100, 2)
0     DS4                         65.90
1     DS5                         53.99
2     DS6                         70.09
3     DS7                         91.60
4    DS12                         70.46
5    DS13                         62.70
6    DS14                         81.90
7    DS15                         94.13
8    DS16                         84.49

In [ ]:
data = pd.read_sql('''
    SELECT 
        `MainDataSet`, 
        ROUND(AVG(`Test_AUC`) * 100, 2) 
    FROM 
        `comparison_test_models` 
    WHERE 
        `modelName` LIKE 'et_500' AND `samplingModel` LIKE 'SMOTEENN' AND `outlierModel` LIKE 'iso' and `DataSet`<> `MainDataSet` 
    group by `MainDataSet`;
''', con=connection)
data.head(25)

  MainDataSet  ROUND(AVG(`Test_AUC`) * 100, 2)
0         DS4                            69.18
1         DS5                            53.72
2         DS6                            55.26
3         DS7                            60.02
4        DS12                            60.15
5        DS13                            60.84
6        DS14                            64.14
7        DS15                            67.18
8        DS16                            59.63

In [ ]:
data = pd.read_sql('''
    SELECT 
        `MainDataSet`, 
        ROUND(AVG(`Test_AUC`) * 100, 2) 
    FROM 
        `comparison_test_models` 
    WHERE 
        `modelName` LIKE 'et_500' AND `samplingModel` LIKE 'SMOTEENN' AND `outlierModel` LIKE 'iso' and `DataSet`<> `MainDataSet` 
    group by `MainDataSet`;
''', con=connection)
data.head(25)

  MainDataSet  ROUND(AVG(`Test_AUC`) * 100, 2)
0         DS4                            69.83
1         DS5                            52.12
2         DS6                            53.25
3         DS7                            60.37
4        DS12                            59.16
5        DS13                            63.25
6        DS14                            65.51
7        DS15                            65.72
8        DS16                            58.80

In [ ]:
data = pd.read_sql('''
SELECT
	`MainDataSet`,
    `DataSet`,
    ROUND((`Test_AUC`) * 100, 2)
FROM
    `comparison_test_models`
WHERE
    `modelName` LIKE 'et_500' AND `samplingModel` LIKE 'SMOTEENN' AND `outlierModel` LIKE 'all'
''', con=connection)
data.head(100)

   MainDataSet DataSet  ROUND((`Test_AUC`) * 100, 2)
0          DS4     DS4                        100.00
1          DS4     DS5                         66.14
2          DS4     DS6                         51.50
3          DS4     DS7                         82.31
4          DS4    DS12                         87.16
5          DS4    DS13                         52.26
6          DS4    DS14                         69.70
7          DS4    DS15                         71.07
8          DS4    DS16                         78.53
9          DS5     DS4                         62.27
10         DS5     DS5                         99.71
11         DS5     DS6                         39.67
12         DS5     DS7                         60.71
13         DS5    DS12                         88.10
14         DS5    DS13                         21.50
15         DS5    DS14                         44.21
16         DS5    DS15                         58.36
17         DS5    DS16                         42.11
18         DS6     DS4                         37.64
19         DS6     DS5                         29.76
20         DS6     DS6                         99.15
21         DS6     DS7                         68.62
22         DS6    DS12                         22.99
23         DS6    DS13                         65.69
24         DS6    DS14                         71.68
25         DS6    DS15                         60.37
26         DS6    DS16                         69.28
27         DS7     DS4                         61.68
28         DS7     DS5                         60.21
29         DS7     DS6                         57.60
30         DS7     DS7                         99.92
31         DS7    DS12                         61.71
32         DS7    DS13                         57.06
33         DS7    DS14                         59.80
34         DS7    DS15                         67.34
35         DS7    DS16                         57.53
36        DS12     DS4                         74.05
37        DS12     DS5                         72.40
38        DS12     DS6                         54.14
39        DS12     DS7                         59.01
40        DS12    DS12                         99.99
41        DS12    DS13                         40.43
42        DS12    DS14                         43.23
43        DS12    DS15                         52.62
44        DS12    DS16                         77.39
45        DS13     DS4                         52.47
46        DS13     DS5                         29.43
47        DS13     DS6                         63.99
48        DS13     DS7                         86.78
49        DS13    DS12                         50.25
50        DS13    DS13                         95.88
51        DS13    DS14                         82.49
52        DS13    DS15                         66.45
53        DS13    DS16                         74.12
54        DS14     DS4                         50.13
55        DS14     DS5                         45.03
56        DS14     DS6                         61.81
57        DS14     DS7                         86.22
58        DS14    DS12                         62.91
59        DS14    DS13                         69.90
60        DS14    DS14                         99.65
61        DS14    DS15                         72.43
62        DS14    DS16                         75.70
63        DS15     DS4                         65.00
64        DS15     DS5                         57.93
65        DS15     DS6                         55.59
66        DS15     DS7                         92.02
67        DS15    DS12                         55.56
68        DS15    DS13                         47.24
69        DS15    DS14                         77.08
70        DS15    DS15                        100.00
71        DS15    DS16                         75.31
72        DS16     DS4                         70.12
73        DS16     DS5                         55.05
74        DS16     DS6                         49.94
75        DS16     DS7                         77.18
76        DS16    DS12                         47.41
77        DS16    DS13                         51.26
78        DS16    DS14                         46.31
79        DS16    DS15                         73.11
80        DS16    DS16                         99.91

In [ ]:
data = pd.read_sql('''
    SELECT `modelName`, ROUND(AVG(`Test_AUC`) * 100,2) as 'Test_AUC' FROM `sampling_gene` WHERE `samplingModel`='SMOTEENN' GROUP BY `modelName`, `samplingModel` ORDER BY Test_AUC DESC;
''', con=connection)
data.head(100)

   modelName  Test_AUC
0      svc_n     75.75
1     et_500     75.03
2       knn5     74.73
3     et_100     74.66
4       knn3     74.40
5     rf_500     73.37
6         dt     73.20
7     rf_100     72.91
8         gn     72.73
9         ab     72.33
10    bc_100     72.07
11       xgb     72.06
12        lr     71.70